<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml">
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="login.component.css" />
</head>
<body>
    <div class="content">
        <img src="assets/images/Eci.png" alt="Logo" class="logo">
        <div class="box">
            <form id="queries_form" action="#" method="post">
                <!-- <h1 style="text-align: center;">Login</h1>
                <br />
                <div class="container">
                    <label for="float-input">Username</label>
                    <input type="text" id="username" name="username" [(ngModel)]="username" required>
                </div>
                <br />
                <div class="container">
                    <label for="feedback">Password</label>
                    <input type="password" id="password" name="password" [(ngModel)]="password" required>
                </div>
                <br /> -->
                <div class="divboton">
                  <button class="button_slide slide_diagonal" (click)="login()">Login</button>


                </div>
            </form>
        </div>
    </div>
</body>
</html>
