<!DOCTYPE html>
<html xmlns="http://www.w3c.org/1999/xhtml">
<head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="login.component.css" />
</head>
<body>
    <div class="content">
        <img src="assets/images/Eci.png" alt="Logo" class="logo">
        <div class="box">
            <form id="queries_form" action="#" method="post">
                <h1 style="text-align: center;">Login</h1>
                <br />
                <div class="container">
                    <label for="float-input">Username</label>
                    <input type="text" id="float-input" name="float-input" required="required" />
                </div>
                <br />
                <div class="container">
                    <label for="feedback">Password</label>
                    <input type="password" id="feedback" name="feedback" required="required" />
                </div>
                <br />
                <div class="divboton">
                  <button (click)="redirectToInicio()">Ir a Inicio</button>


                </div>
            </form>
        </div>
    </div>
</body>
</html>
