<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <!-- <link rel="stylesheet" type="text/css" href="inicio.component.css" /> -->
</head>
<body>
    <!-- <div id="banner"></div> -->
    <div class="container">
        <button class="button" (click)="redirectTosala()">Unir Sala</button><br>
        <button class="button" (click)="redirectToCrearSala()">Crear Sala</button><br>
        <button class="button" (click)="redirectToPerfil()">Configurar Perfil</button>
    </div>
</body>
</html>
