<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <!-- <link rel="stylesheet" type="text/css" href="inicio.component.css" /> -->
</head>
<body>
    <div class="container">
        <button class="button" (click)="redirectTosala()">Crear Sala</button><br>
        <button class="button" onclick="unirSala()">Unir Sala</button><br>
        <button class="button" onclick="configurarPerfil()">Configurar Perfil</button>
    </div>

    <!-- <script>
        function crearSala() {
            // Lógica para crear sala
            console.log("Crear sala");
        }

        function unirSala() {
            // Lógica para unir sala
            console.log("Unir sala");
        }

        function configurarPerfil() {
            // Lógica para configurar perfil
            console.log("Configurar perfil");
        }
    </script> -->
</body>
</html>
