body {
  font-family: Arial, sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  /* background-color: #f0f0f0; */
  background-image: url('src/assets/images/logoEci.jpg');
  /* background-size: cover;
  background-position: center; */
}

/* #banner {
  background-image: url('src/assets/images/banner.jpg'); 
  background-size: cover;
  background-position: center;
  height: 150px; 
  width: 100%;
  margin-bottom: 20px; 
} */

.container {
  background: white;
  padding: 40px; /* Agrandar el padding para hacer el menú más grande */
  border-radius: 12px;
  box-shadow: 0 4px 6px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  width: 400px; /* Agrandar el ancho del menú */
}

.button {
  background-color: #ea161640;
  color: black;
  border: none;
  border-radius: 20px;
  padding: 15px 30px; /* Aumentar el padding de los botones */
  margin: 10px 0;
  cursor: pointer;
  transition: background-color 0.3s;
}

.button:hover {
  background-color: #e20c14;
}
